<div class="cactus__g">
  <div class="cactus__u--1">
    <h1>Edit post</h1>
  </div>
</div>

<div class="post-edit">
  <div class="cactus__g">
    <div class="cactus__u--1">

      <%= render "form.html", changeset: @changeset,
                              action: post_path(@conn, :update, @post) %>

      <%= link "Back", to: post_path(@conn, :index), class: "ui-button ui-button--back" %>
    </div>
  </div>
</div>
