html {
  height: 100%;
  position: relative;
}

body {
  background-color: $cream;
}

.pos-r {
  position: relative;
}

[class*="content-block"] {
  padding: 4em 0;
}

.content-block {
  &--page-head {
    background-color: $cream;
    padding-bottom: 0;
  }
}

.content-tile {
  // margin-bottom: 1em;
}

