// /*==========================
//   Cactus Grid Settings
// ==========================*/


/*==========================
  Colours
==========================*/

$black: #111;
$white: #FFF;
$cream: #F3F0EE;
$grey-dark: #262525;
$grey-mid: #787878;
$grey-light: #AAA;

$orange: #F29A3F;
$red: #DB5957;
$blue: #427A82;
$green: #51BF96;
$lime: #D1DBBD;
$yellow: #FBD163;


/*==========================
  Fonts
==========================*/


$font-headline: 'Oswald', sans-serif;
$font-body: 'Lato', serif;

// $font-langdon: 'Langdon', sans-serif;
